html {
  background-color: black;
  text-align: center;
}
h1 {
  color: white;
  font-family: verdana;
  font-weight: normal;
  font-size: 50px;
}
h2 {
  color: white;
  font-family: verdana;
  font-weight: 300;
  font-size: 42px;
}
h3 {
  font-family: verdana;
  font-size: 21px;
  color: gray;
}
a {
  color: Aquamarine;
  font-size: 16px;
}
#copyright {
  text-align: right;
}
